{{!< default}}

	<section id="{{id}}" class="{{post_class}}">
		<!--code>&nbsp;Read Now&nbsp;</code-->
			{{#foreach posts}}
				{{#if featured}}
					<h3 class="post-title">
						<a href="{{url}}">{{title}}</a>
						<span class="separator">&middot;</span>
						Read Now
					</h3>
				{{/if}}
			{{/foreach}}
	</section>

	<br>

	<section id="{{id}}" class="{{post_class}}">
		<!--code>&nbsp;Available Soon&nbsp;</code-->
			{{#foreach posts}}
				{{#unless featured}}
					<h3 class="post-title">
						<span class="draft">{{title}}</span>
						<span class="separator">&middot;</span>
						<span class="draft">Available Soon</span>
					</h3>
				{{/unless}}
			{{/foreach}}
	</section>

{{! pagination}}
